.xxx h1 {
  color: black;
  font-size: 50px;
}

.card {
  box-shadow: 5px 10px 8px #888888;
  padding: 1vw;
  margin: 2vw;
}

.product-inline {
  box-shadow: 5px 10px 8px #888888;
  padding: 1vw;
  margin: 2vw;
}

.product-image {
  margin: auto;
  display: block;
}

.product-title {
  font-family: "Share Tech";
  font-size: 2vw;
  text-align: center;
}

.product-description {
  text-align: center;
}

.product-price {
  text-align: center;
  font-family: "Share Tech";
  font-size: 1.5vw;
}

.buy-product-button {
  display: block;
  margin: auto;
  font-family: Share Tech;
  font-size: 1.5vw;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 30px;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.buy-product-button:hover {
  background-color: black;
  color: white;
}
