.footer {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
  }
  .reseaux-logo {
    display: flex;
    margin-top: 2%;
    align-items: center;
  }
  .reseaux {
    width: 30%;
    text-align: center;
  }
  .reseaux img {
    width: 10%;
    cursor: pointer;
    margin-right: 3%;
  }
  .logo {
    width: 50%;
    margin: auto;
    text-align: start;
  }
  .logo img {
    width: 35%;
  }
  .souligne-footer {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid #ff7f00;
  }
  .display-flex-footer {
    width: 95%;
    margin: auto;
    display: flex;
    max-width: 1200px;
  }
  .carte-footer {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .carte-footer img {
    width: 20px;
    height: 50px;
    margin-bottom: 2%;
  }
  .texte-noir-footer {
    margin: 0;
    width: 95%;
    color: #1f1f1f;
    font-size: 1.1rem;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
  .lien-noir-footer {
    margin: 0;
    width: 95%;
    color: #1f1f1f;
    font-size: 1.1rem;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
  .lien-noir-footer:hover {
      color: #0080ff;
  }
  .liens-footer {
    width: 95%;
    margin: auto;
    display: flex;
    margin-bottom: 2%;
    max-width: 1400px;
    justify-content: space-evenly;
  }
  .bulle-paques {
      width: 100px;
      height: 100px;
      background: linear-gradient(#F2DA54, #82F254, #54F2AD, #54AFF2, #8054F2, #F254DD, #F25455);
  }